@font-face {
    font-family: Albula;
    src: url(../fonts/AlbulaNarrowPro-Trial-Regular.otf);
}
@font-face {
    font-family: Albula-Bold;
    src: url(../fonts/AlbulaNarrowPro-Trial-Bold.otf);
    font-weight: bold;
}
.cont-custom {
    max-width: 1440px;
    margin: auto;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*{
    font-family: Albula;
}
*:focus{
    box-shadow: none;
}
.img-transform{
    transform: rotate(90deg);
}
.navbar {
    z-index: 999;
    background-color: #0F0F0F;
    padding: 0.75rem 1rem;
}
.navbar-dark .navbar-nav .nav-link{
    color: #FFF;
}
.logo-container .logo img{
    width: 90px;
}
.top-0{
    top: 0;
}
.bottom-0{
    bottom: 0;
}
.brand-color{
    color: #FF9015 !important;
}
.logo {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    z-index: 1000;
}
.logo img{
    animation: fadeInDown 3s ease;
}
@keyframes fadeInDown {

    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.container {
    width: 100%;
    height: 100vh;
}
.form-control, .form-control:hover {
    background-color: #121212 !important;
}
.form-control:focus{
    border: #fff;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25)
}
.content{
    width: 100%;
    height: 100vh;
    background-color: #0F0F0F;
    position: relative;
    padding: 0 4em;
}
.slider-content{
    position: absolute;
    bottom: 0;
    z-index: 99;
    left: 0;
    right: 0;
    height: 260px;
}
.slider-content .btn{
    padding: 0.75rem 2.75rem;
    border-radius: 0.7rem;
}
.sc-logo img{
    width: 400px;
}
.language-wrapper{
    display: flex;
}
.language-wrapper .tr-lang, .language-wrapper .en-lang{
    background-color: #fff;
    border-radius: 20px;
    cursor: pointer;
}
.language-wrapper .tr-lang{
    border-top-left-radius: 0;
}
.language-wrapper .en-lang{
    border-top-right-radius: 0;
}
.tr-lang.active, .en-lang.active{
    background-color: #FF9015;
}
.tr-lang, .en-lang{
    width: 45px;
    height: 33px;
    font-weight: bold;
}
.custom-control-input:focus:not(:checked)~.custom-control-label::before{
    border: none;
}
.custom-switch .custom-control-input:checked~.custom-control-label::after {
    left: calc(-0.25rem + 4px);
    background-color: #FF9015;
}
.custom-switch .custom-control-label::before{
    background-color: transparent;
    border: 2px solid #fff;
    left: -4.25rem;
    width: 6rem;
    height: 1.4rem;
    border-radius: 1.5rem;
}
.custom-switch .custom-control-label::after{
    background-color: #FF9015;
    top: calc(0.25rem + 4px);
    left: calc(-4.25rem + 5px);
    height: calc(1.1rem - 4px);
}
.custom-control-input:checked~.custom-control-label::before{
    background-color: transparent;
    border-color: #FFF;
}
.page-2-content{
    width: 50%;
    height: 100%;
}
.slogan-title{
    font-size: 40px;
}
.pilot-image{
    position: absolute;
    left: 0;
    bottom: -1px;
}
.pilot-image img{
    width: 600px;
}
.pilot-bg-shape{
    position: absolute;
    left: 270px;
    bottom: 310px;
}
.vertical-text{
    writing-mode: vertical-rl;text-orientation: mixed;
}
.we-are-text{
    font-size: 30px;
    position: absolute;
    left: 110px;
    top: 160px;
    font-family: Albula-Bold;
}
.arrow-selector{
    position: absolute;
    left: 170px;
    top: 200px;
}
.arrow-selector img{
    width: 120px;
}
.drone-bg-shape {
    right: 0;
    position: absolute;
    right: 250px;
    top: 150px;
}
.drone-img{
    position: absolute;
    top: 150px;
    right: 140px;
    animation: myOrbit 3s linear infinite;
}
.drone-img img{
    width: 250px;
}
.arrow-link{
    position: absolute;
    right: 130px;
    bottom: 20px;
}
.arrow-link-text{
    font-size: 30px;
    font-family: Albula-Bold;
    color: #000;
}
.arrow-link img{
    width: 100px;
}
.star-page-two img{
    position: relative;
    left: 70px;
    width: 60px;
}
.wwp-title-wrapper .title-animation{
    height: 400px;
}
.wwp-title-wrapper .title-animation div{
    height: max-content;
}
.wwp-title-wrapper .title-animation div:nth-child(2) {
    color: #ffffff;
    animation: animates 4s ease-in-out infinite;
}

@keyframes animates {
    0%,
    100% {
        clip-path: polygon(
            0% 20%,
            0% 34%,
            33% 0%,
            54% 10%,
            70% 31%,
            84% 59%,
            100% 52%,
            100% 100%,
            0% 100%
        );
    }

    50% {
        clip-path: polygon(
            0% 20%,
            0% 34%,
            33% 0%,
            70% 0%,
            100% 41%,
            84% 59%,
            100% 52%,
            30% 100%,
            0% 100%
        );
    }
}
.who-we-page{
    left: 10px;
}
.wwp-title{
    font-size: 85px !important;
    color: #FFF;
}
.gradient-page-top{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.star-page-three img{
    width: 85px;
}
.wwp-wrp{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    width: 50%;
}
.wwp-description{
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 30px;
    color: #FFF;
    font-size: 25px;
}
.www-title{
    color: #fff;
    text-align: center;
    font-size: 65px;
    font-family: Albula-Bold;
    font-weight: bold;
}
.www-title img{
    width: 40px;
    transform: rotate(270deg);
}
.www-logos-wrp img{
    height: auto;
    width: 100px;
}
.www-logos-wrp div[class*="col"]:hover img{
    transform: scale(1.25);
    filter: grayscale(0);
}
.www-logos-wrp div[class*="col"] img{
    transition: all ease 0.4s;
    filter: grayscale(1);
}

@keyframes myOrbit {
    from { transform: rotate(0deg) translateX(20px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(20px) rotate(-360deg); }
}
html,body{
    height:100%;
    width:100%;
    margin:0px; padding:0px;
}
.page {
    height:100%;
    width:100%;
    overflow: hidden;
}

#page1{background-color:#0F0F0F;}
#page2{background-color:#FFF;}
#page3{background-color:#0F0F0F;}
#page4{background-color:#0F0F0F;}
#page5{background-color:#0F0F0F;}

.video-slider{
    width:80%;
    margin:0 auto;
    margin-top:50px;

}
button.ytp-large-play-button.ytp-button.ytp-large-play-button-red-bg{
    display: none !important;
}
.slide img, .slide iframe{
    box-sizing: border-box;
    max-width: 100%;
    position: relative;
    height:600px;
    height:auto;
    transform: scale(.8);
    transition: all .6s ease-out;
    z-index:1;
}
.slider-page img, .slider-page iframe{
    width:100%;
    width: 100%;
    height: 400px;
}
.slick-prev, .slick-next {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    margin: auto;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    -webkit-box-shadow: 3px 1px 0 rgba(0,0,0,0.15), -1px 3px 0 rgba(0,0,0,0.15);
    box-shadow: 3px 1px 0 rgba(0,0,0,0.15), -1px 3px 0 rgba(0,0,0,0.15);
    cursor: pointer;
    outline: none;
    background-color: rgb(255 144 21 / 43%);
}
.slick-center img, .slick-center iframe{
    transform: scale(1.3);
    transition: all .6s ease-out;
    z-index:10;
    position:relative;
    padding: 5% 0;
}

/*Arrows*/

.slick-prev {
    left: 240px;
}
.slick-prev::before{
    content: "";
    width: 18px;
    background-image: url(../images/yonok.png);
    height: 30px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: auto;
    filter: brightness(0) invert(1);
}
.slick-next {
    right: 240px;
}
.slick-next::before {
    content: "";
    width: 18px;
    background-image: url(../images/yonok.png);
    height: 30px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: auto;
    filter: brightness(0) invert(1);
    transform: rotate(180deg);
}
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

.title-animation-wrapper{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-animation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title-animation div {
    color: #fff;
    position: absolute;
    font-size: 4rem;
}

.title-animation div:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 1px #ff9016;
}

.title-animation div:nth-child(2) {
    color: #ffffff;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
    0%,
    100% {
        clip-path: polygon(
            0% 20%,
            0% 34%,
            33% 50%,
            54% 60%,
            70% 61%,
            84% 59%,
            100% 52%,
            100% 100%,
            0% 100%
        );
    }

    50% {
        clip-path: polygon(
            0% 60%,
            15% 65%,
            34% 66%,
            51% 62%,
            67% 50%,
            84% 45%,
            100% 46%,
            100% 100%,
            0% 100%
        );
    }
}




#buttonTop {
    display: inline-block;
    background-color: #FF9015;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#buttonTop::after {
    content: "";
    background-image: url("../images/yonok.png");
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    width: 20px;
    height: 100%;
    transform: rotate(90deg);
    filter: brightness(0) invert(1);

}
#buttonTop:hover {
    cursor: pointer;
    background-color: #333;
}
#buttonTop:active {
    background-color: #555;
}
#buttonTop.show {
    opacity: 1;
    visibility: visible;
}

.modal-content {
    background-color: #121212;
    border: 1px solid #929292;
    color: #fff;
}
.modal-header{
    border-bottom: 1px solid #929292;
}
.modal-footer{
    border-top: 1px solid #929292;
}
.close{
    color: #FFF;
}
.btn-primary{
    background-color: #FF9015 !important;
    border-color: #FF9015 !important;
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus{
    box-shadow: 0 0 0 0.2rem rgba(253, 110, 0, 0.777);
}
.btn-outline-warning{
    background-color: transparent !important;
    border-color: #FF9015 !important;
    color: #FF9015 !important;
}
.btn-outline-warning:hover{
    background-color: transparent !important;
    border-color: #FF9015 !important;
    color: #FF9015 !important;
}
.splitting span.word{
    background: transparent;
    color:transparent;
    position: relative;
}
.brand-color .word:before{
    color: #FF9015 !important;
}
.splitting span.word:before {
    display: block;
    content: attr(data-word);
    position: absolute;
    color: white;
    visibility: hidden;
    animation: reveal-in 3s cubic-bezier(.5,0,.5,1) both;
    animation-delay: calc( .2s * var(--line-index) );
}

.splitting span.wor2d {
    animation: reveal-in 1s cubic-bezier(.5,0,.5,1) both;
    animation-delay: calc( .2s * var(--line-index) );
}


@keyframes reveal-in {
    0% {
        transform: translateY(100%);
        visibility: hidden;
    }
    100% {
        transform: translateY(0%);
        visibility: visible;
    }
}
.dots-wrapper{
    background: red;
    position: absolute;
    right: 0;
    bottom: 90px;
    display: flex;
    justify-content: flex-end;
    width: 300px;
}
.dots {
    display: flex;
    align-items: center;
}
.dots .dot {
    background-image: url(../images/star.png);
    position: absolute;
    -webkit-animation: fade 2.5s ease infinite;
    animation: fade 2.5s ease infinite;
    opacity: 0;
}
.dots .dot:nth-child(1) {
    left: 0;
    margin: 0;
}
.dots .dot:nth-child(2) {
    left: 1.5em;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    margin: 0 50px;
}
.dots .dot:nth-child(3) {
    left: 3em;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    margin: 0 80px;
}
.dots .dot:nth-child(1) img{
    width: 80px;
}
.dots .dot:nth-child(2) img{
    width: 60px;
}
.dots .dot:nth-child(3) img{
    width: 40px;
}
@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
